node_modules

.data
.nitro
.cache
.output

/data

/.env
/.env.local
/.env.production
/.env.e2e

*.db

/repo

/auto-imports.d.ts
/typed-router.d.ts

/configs/generated/*
!configs/generated/.keep

/tmp

# E2E test SSH keys
recipes/e2e/id_ed25519
recipes/e2e/id_ed25519.pub
