# Caddy obtains and renews Let's Encrypt certs automatically for this host.
example.com {
  tls admin@example.com

  header {
    -Server
    Strict-Transport-Security "max-age=31536000;"
  }

  import "vars.caddy"

  root * {vars.public}
  file_server

  @app not file

  reverse_proxy @app localhost:3000
}
