[Unit]
Description=${DEPLOY_PROJECT_NAME}
After=network.target

[Service]
Type=simple
User=${DEPLOY_USER}
Group=${DEPLOY_GROUP}

WorkingDirectory=${DEPLOY_LIB}/${DEPLOY_PROJECT_NAME}
EnvironmentFile=-${DEPLOY_ETC}/${DEPLOY_PROJECT_NAME}/.env.production
ExecStart=${DEPLOY_BIN}/${DEPLOY_PROJECT_NAME}

Restart=on-failure

ProtectSystem=strict
ReadWritePaths=${DEPLOY_LIB}/${DEPLOY_PROJECT_NAME}
ProtectHome=yes
PrivateTmp=yes
PrivateDevices=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes

[Install]
WantedBy=multi-user.target
